<article class="projects-card {{ classes }}">
    <h2 class="projects-card__title text-size-h2">{{ title }}</h2>
    {{ partial src="technology-stack" }}
    <p class="projects-card__desc">{{ description }}</p>

    {{ if github or view }}
        <div class="projects-card__bottom flex flex-row justify-center">
            <a href="{{ github }}" target="_blank" role="button" class="btn mr-2">
                <span class="btn__inner flex items-center justify-center">
                    <span class="text-tiny">Github</span>
                    <span style="width: 18px; height: 18px;" class="fill-current inline-block ml-2">{{ partial src="icons/github" }}</span>
                </span>
            </a>
            <a href="{{ view }}" target="_blank" role="button" class="btn">
                <span class="btn__inner flex items-center justify-center">
                    <span class="text-tiny">View</span>
                    <span style="width: 18px; height: 18px;" class="fill-current inline-block ml-2">{{ partial src="icons/link" }}</span>
                </span>
            </a>
        </div>
    {{ endif }}
</article>