<div class="sharing-links {{ classes }}">
    <p class="text-center">Sharing links</p>
    <ul class="flex justify-center">
        <li class="pr-4">
            <a class="flex fill-current text-accent" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}" rel="noreferrer">
                <span>{{ partial:partials/icons/facebook }}</span>
            </a>        
        </li>
        <li class="pr-4">
            <a class="flex fill-current text-accent" target="_blank" href="https://twitter.com/intent/tweet?text={{ current_url }}" rel="noreferrer">
                <span>{{ partial:partials/icons/twitter }}</span>
            </a>
        </li>
        <li>
            <a class="flex fill-current text-accent" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ current_url }}&title={{ meta_title | rawurlencode }}&summary={{ meta_description | rawurlencode }}" rel="noreferrer">
                <span>{{ partial:partials/icons/linkedin }}</span>
            </a>
        </li>
    </ul>
</div>