<footer class="panel footer">
    <section class="section footer__inner">
        <div class="footer__social-media">
            <h3 class="mb-8 text-size-h4">{{ site_details:website_title }}</h3>
            {{ partial src="social-icons" classes="hidden sm:flex flex-row mb-0" }}
        </div>
        <div>
            {{ partial src="contact-info" }}
        </div>
        <div class="sm:hidden">
            {{ partial src="social-icons" classes="flex flex-row mt-8 justify-center" }}
        </div>
    </section>
</footer>