<header class="panel header headroom headroom--pinned" data-header> 
    <div class="section header__inner">
        {{ if title == 'Home' }}
            <div class="pointer-events-none header__site-title">
                <span>{{ site_details:website_title }}</span>
            </div>
        {{ else }}
            <a tabindex="0" class="no-underline" href="/">
                <div class="header__site-title">
                    <span>{{ site_details:website_title }}</span>
                </div>
            </a>
        {{ endif }}
        
        {{ partial:partials/global/nav id="desktop-nav" classes="desktop-nav nav"}}
        
        <button aria-label="Mobile navigation" aria-expanded="false" aria-controls="menu" tabindex="0" class="header__nav-toggle" data-nav-toggle>
            <span data-nav-menu-icon class="hidden">
                {{ partial:partials/icons/menu }}
            </span>
            <span data-nav-close-icon class="">
                {{ partial:partials/icons/close }}
            </span>
        </button>
    </div>
</header> 
{{ partial:partials/global/nav id="mobile-nav" classes="mobile-nav nav" data="data-mobile-nav" }} 