<nav id="{{ id }}" class="{{ classes }}" {{ data }}>
    <ul class="nav__list">
        {{ nav:main }}
            {{ site_settings.nav_items }}
                {{ if value == title }}
                    <li class="nav__item">
                            <a class="nav__item-inner no-underline{{ if url | segment:1 == is_parent }} underline nav__item-inner--active{{ endif }}" href="{{ url }}">{{ title }}</a>
                    </li>
                {{ endif }}
            {{ /site_settings.nav_items }}
        {{ /nav:main }}
    </ul>
</nav>