.desktop-nav {
    @apply hidden;
    @screen sm {
        @apply block;
    }
}

.desktop-nav .nav {
    &__list {
        @apply flex;
    }
    
    &__item {
        @apply ml-2;
    }

    &__item-inner {
        @apply inline-block px-4 py-2 mb-0 rounded-md;
        transition: 0.2s ease-in;
        transition-property: background-color;
        will-change: background-color;
    }
}