.about {
    &__inner {
        @apply flex flex-col items-center;
        @screen md {
            @apply flex-row-reverse;
        }
    }

    &__image {
        @apply rounded-full mx-auto mt-6;
        max-width: 50.078vw;
        max-height: 50.078vw;

        @screen sm {
            @apply mt-0;
            max-width: 320px;
            max-height: 320px;

        }
    }
    
    &__text {
        @apply mt-8 ml-0;

        @screen md {
            @apply mt-0 ml-12;
        }
    }
}

.skills {
    &__list {
        @apply flex flex-wrap;
    }

    &__item {
        @apply flex flex-col justify-center items-center mt-6;
        width: 25%;
        @screen sm {
            @apply mt-12;
        }
    }

    &__icon {
        @apply text-accent fill-current block mb-4;

        width: 11.71875vw;
        height: 11.71875vw;

        @screen lg {
            width: 120px;
            height: 120px;
        }

        @screen xl
    }

    &__label {
        @apply text-sm text-gray;
        @screen xs {
            @apply text-tiny;
        }
    }
}

.latest-blog-posts,
.latest-projects {
    &__view {
        @apply inline-block mx-auto mt-2 px-4 py-2 rounded-md no-underline text-tiny;
        transition: 0.2s ease-in;
        transition-property: background-color;
        will-change: background-color;

        &:hover {
            @apply text-text bg-background_light no-underline;
        }
    }
}