<div class="panel">
    <section class="section section--md contact">
        <h1 class="mb-8 text-center text-size-h1">{{ content | raw }}</h1>
        {{ form:set is="contact" }}
            <div class="hidden success-message" data-contact-success>
                Message submitted! 🎉
            </div>
            {{ form:create id="contact-form" }}
                {{ if error }}
                <p>Oops, something went wrong!</p>
                    <ul class="mb-4 list-disc list-inside">
                        {{ if error:name }}<li><span class="italic text-red text-tiny">The name field is required</span></li>{{ /if }}
                        {{ if error:email }}<li><span class="italic text-red text-tiny">The email field is required</span></li>{{ /if }}
                        {{ if error:message }}<li><span class="italic text-red text-tiny">The message field is required</span></li>{{ /if }}
                        {{ if error:captcha }}<li><span class="italic text-red text-tiny">The CAPTCHA input failed. Please try again. </span></li>{{ /if }}
                    </ul>
                {{ endif }}
                <div class="contact__input-container">
                    <label class="hidden">Name</label>
                    <input {{ if error:name }}class="error"{{ endif }} type="text" id="name" name="name" value="{{ old:name }}" placeholder="Name" data-msg="A name is required" required/>
                </div>

                <div class="contact__input-container">
                    <label class="hidden">Email</label>
                    <input {{ if error:email }}class="error"{{ endif }} type="email" id="email" name="email" value="{{ old:email }}" placeholder="Email address" data-msg="An email address is required" required/>
                </div>

                <div class="contact__input-container">
                    <label class="hidden">Message</label>
                    <textarea {{ if error:message }}class="error"{{ endif }} type="message" rows="5" id="message" name="message" value="{{ old:message }}" placeholder="Message" data-msg="A message is required" required></textarea>
                </div>

                <div class="contact__input-container">
                    {{ captcha }}
                    <span class="hidden block mt-2 italic text-center text-red text-tiny" data-contact-recaptcha-fail>Please check the reCAPTCHA form</span>
                </div>

                <button type="submit" class="btn" data-contact-submit>
                    <span class="btn__inner btn--large">Send</span>
                </button>
            {{ /form:create }}
        {{ /form:set }}
    </section>
</div>